<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../Public/app.css">
	<title>The Capital Grill Survey</title>
</head>
	<body>		
		<div class="header">
			<img src="../Resources/logo.png" id="image">
		</div>
		<div class="container">
			<div class="greeting">
				<h2>
					Thank you for dining with us! Please fill out a brief survey to let us know about your experience today.
				</h2>		
			</div>
			<div class="email">
				<input type="email" name="email" required placeholder="Enter random email here to begin">
				<button id="submit" type="submit">Submit</button>
			</div>
		</div>
	</body>
</div>
</html>