<!DOCTYPE html>
<html>
<head>
	<title>The Capital Grill Survey</title>
</head>
<body>
	<div class="header">
		<img src="">
		<h1>
			The Capital Grill
		</h1>
	</div>
	<div class="form">
		<label class="labels">
			Which location did you visit today?
		</label>
		<input type="radio" name="location">Lansing, Michigan<br>
		<input type="radio" name="location">Columbus, Ohio<br>
		<input type="radio" name="location">Albany, New York<br>
		<input type="radio" name="location">Sacramento, California<br>
		<label class="labels">
			When did you visit?
		</label>
		<input type="date" name="date">
		<label name="labels">
			What did you come for?
		</label>
		<input type="radio" name="meal">Breakfast<br>
		<input type="radio" name="meal">Lunch<br>
		<input type="radio" name="meal">Dinner<br>
		<label class="labels">
			How often do you visit?
		</label>
		<input type="radio" name="frequency">First Time<br>
		<input type="radio" name="frequency">Daily<br>
		<input type="radio" name="frequency">Twice a week<br>
		<input type="radio" name="frequency">Weekly<br>
		<input type="radio" name="frequency">Monthly<br>
		<h2>
			How would you rate the following?
		</h2>
		<label class="labels">
			Service:
		</label>

		<label class="labels">
			Cleanliness:
		</label>

		<label class="labels">
			Parking:
		</label>

		<label class="labels">
			Quality of Food:
		</label>

		<label class="labels">
			Choice of Food:
		</label>

		<label class="labels">
			How would you rate your overall experience?
		</label>

		<label class="labels">
			How likely are you to recommend us to others?
		</label>

		<label class="labels">
			Any additional feedback that you would like to share?
		</label>
		<textarea class="comments" name="comments" placeholder="Enter your comments here..."></textarea>
	</div>
	<div>
		
	</div>

</body>
</html>